%h1 #{@post.title}

= form_for(@comment, :url => post_comments_path(@post)) do |f|
  %p
    = f.label :author
    = f.text_field :author
  %p
    = f.label :author_website
    = f.text_field :author_website
  %p
    = f.label :body
    = f.text_area :body, :size => '40x10'
  %p
    = f.submit 'Add Comment'
