%h3 Manage Tags

%table.admin_table
  %tr
    %th Name
    %th Delete
  - @tags.each do |tag|
    %tr
      %td= tag.name
      %td= link_to('Delete', tag_path(tag), :method => :delete)

%h4 Add New Tag
= form_for :tag, :url => {:controller => 'tags', :action => 'create'} do |f|
  = f.text_field :name
  = f.submit 'Add Tag'

