%div[post]
  .date_tags Posted #{formatted_post_date(post.posted)} on #{formatted_tag_list(post.tags)}
  .title= link_to("#{post.title}", "/posts/#{post.id}")
  .body= post.body
  .edit_link= link_to "Edit", edit_post_path(post)
  .delete_link= link_to "Delete", post_path(post), :method => :delete, 
    :confirm => 'Are you sure you want to delete this post?'
  %hr
